.circular-progress-bar{
    display: grid;

    align-items: center;
    justify-content: start;
    align-content: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}